---
layout: default
title: Jigar Patel - JAP
---

<ul class="posts">
  {% for post in paginator.posts %}
  <li class="postlet clearfix">
  <a href="{{ post.url }}">{{ post.title }}</a>
  {% if post.image %}
  <div><img src="{{ post.image }}" alt="{{ post.title }}"></img></div>
  {% endif %}
  {% if post.summary %}
  <p class="summary">
    {{ post.summary }}
    <a href="{{ post.url }}" title="{{ post.title }}"
      class="read_more_link">
      Continue Reading <i class="icon-arrow-right"></i>
    </a>
  </p>
  {% endif %}
  </li>
  {% endfor %}
</ul>

<div id="post-pagination" class="pagination">

  {% if paginator.previous_page %}
  <p class="previous">
  {% if paginator.previous_page == 1 %}
  <a href="/">Previous</a>
  {% else %}
  <a href="/page{{paginator.previous_page}}">Previous</a>
  {% endif %}
  </p>
  {% endif %}

  {% if paginator.next_page %}
  <p class="next">
  <a href="/page{{paginator.next_page}}">Next</a>
  </p>
  {% endif %}

</div>
